/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%);
    font-family: Incosolata, Arial, Helvetica, sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: rgb(0 243 255);
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(20 86 185);
    box-shadow: 0px 0px 70px rgb(0 243 255);
    border-radius: 140px;
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}


/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: rgb(0 243 255);
    margin-bottom: 130px;
}

.active {     background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%);}

.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 80px;
    position: absolute;
    color: rgb(255, 38, 0);
    top: -27px;
    right: 3px;  
}

.player-current-box {
    background-color: rgb(0 243 255);
    border-radius: 25px;
    color: rgb(0, 0, 0);
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    background: none;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    font-family: consolas;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: solid 2px rgb(0 243 255);
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 335px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }